<h1>Todos os Cursos</h1>
<a href="/cursos/create" class="button">Novo</a>
<div class="items">
  {{#each cursos}}
    <div class="item">
      <img src="/img/curso/{{this.imagem}}" alt="{{this.nome}}">
      <h3>{{this.nome}}</h3>
      <p>Resumo: {{this.resumo}}</p>
      <div class="actions">
        <a href="/cursos/{{this._id}}" class="button">Detalhes</a>
        <a href="/cursos/edit/{{this._id}}" class="button">Editar</a>
      </div>
    </div>
  {{/each}}
</div>