<div class="item-page">
  <a href="/cursos">Voltar</a>
  <h1>{{curso.nome}}</h1>
  <p>Resumo: {{curso.resumo}}</p>
  <img src="/img/curso/{{curso.imagem}}" alt="{{curso.nome}}">
  <p>Descrição: {{curso.descricao}}</p>
  <form action="/cursos/remove/{{curso._id}}" method="POST">
    <input type="submit" class="button" value="Excluir">
  </form>
</div>